{{ ansible_managed | comment }}

# Make interactive sessions expire at a given number of seconds
TMOUT={{ console_timeout_to }}
# Only works in bash
[ $SHELL = "/bin/bash" ] && readonly TMOUT
export TMOUT
